body {
    font-family: sans-serif;
    max-width: 800px;
    min-width: 200px;
    margin: auto;
    font-size: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

p {
    margin-top: 5px;
    margin-bottom: 10px;
}

a {
    color: #055925;
}

a:hover {
    text-decoration: none;
    color: red;
}

#logo {
    float:right;
}

strong {
    font-weight: bold;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

table, th, td {
    border-bottom: 1px solid black;
}

th, td {
    padding: 5px 10px;
}

th {
    background-color: #dddddd;
}

.car {
    background-color: #eeeeee;
}

#footer {
    font-size: 75%;
}

.button {
    background-color: #055925;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

.center {
    margin: auto;
    text-align: center;
}

.ta-right {
    text-align: right;
}
